<div class="position-relative">
  <div class="my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search task..." aria-label="Search">
  </div>
  
  <div class="list-group position-absolute w-100" style="z-index: 999">
    <a href="" class="list-group-item list-group-item-action">Tarefa 1</a>
    <a href="" class="list-group-item list-group-item-action">Tarefa 1</a>
    <a href="" class="list-group-item list-group-item-action">Tarefa 1</a>
    <a href="" class="list-group-item list-group-item-action">Tarefa 1</a>
    <a href="" class="list-group-item list-group-item-action">Tarefa 1</a>
    <a href="" class="list-group-item list-group-item-action">Tarefa 1</a>
  
  </div>

</div>